services:
  - type: web
    name: kanban-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: CLIENT_ORIGIN
        value: https://kanban-board-on8v.onrender.com
      - key: DATABASE_URL
        fromDatabase:
          name: kanban-db
          property: connectionString

databases:
  - name: kanban-db
    plan: free
    databaseName: kanban_db
    user: kanban
